.menu ul li:hover li{
    display:block;
}
.menu li:hover{
    background-color:#fff
}
.menu li{
    list-style:none;
    background-color:#ddd;
    text-align:center;
    width:150px;
    line-height:2em;
    border:solid;
    border-top:0;
    display:none;z-index: 2
}
.menu>ul>li{
    display:inline-block;
    position:relative;
    border:solid
}
.menu ul ul{
    position:absolute;
    left:-3px;
    top: Calc(100% + 3px)
}
.menu a{
    color:inherit;
    text-decoration:none;
    display:block
}
.menu ul{
    padding:0;
    margin:0
}

.fancy ul li:hover ul{
    max-height: 500%;
}
.fancy li{
    list-style:none;
    background-color:#ddd;
    text-align:center;
    width:150px;
    line-height:2em;
    border-left: solid;
    border-right: solid;
}
.fancy>ul>li{
    display:inline-block;
    position:relative;
    border:solid;
}
.fancy ul ul{
    position:absolute;
    left:-3px;
    top: Calc(100% + 3px);
    max-height: 0;
    transform: translateY(-3px);
    transition: max-height .5s ease-out;
    animation-duration: .5s;
    overflow: hidden;
    animation-duration: 1s;
    border-bottom: solid
}
.fancy a{
    color:inherit;
    text-decoration:none;
    display:block
}
.fancy ul{
    padding:0;
    margin:0
}
.fancy li li:last-child{
    border-bottom:0;
}
.fancy a:hover{
    background-color: rgba(255,255,255,.5)
}