.uklad {
    padding-top: 20px;
    display: inline-block;
    width: 200px;
    min-width: 600px;
    max-width: 90%;
    min-height: 270px;
    resize:both;
    overflow: auto;
    position: relative;
    margin-bottom: 20px
}
.uklad:before{
    display: block;
    height: 20px;
    width:100%;
    position: absolute;
    background-color: #c6c6c6;
    content: " ";
    top:0;
    left:0;
}

.left {
    position: absolute;
    left: 0;
    top: 20px;
    height: Calc(100% - 19px);
    width: 30%;
    background-color: #90a4ae;
    z-index: 1
        
}
.left>div{
    width: 80%;
    margin-left: 10%;
    margin-top: 1em;
    height: 30px;
    text-align: center;
    background-color: #7b8c94
}
.left>div:first-child{
    line-height: 40px;
    height: 40px;
    background-color: #a1b2ba
}

.right {
    position: absolute;
    right: 0;
    top: 20px;
    height: Calc(100% - 20px);
    width: 70%;
    background-color: #26a69a;
}
.right>div{
    background-color:#208d83;
    height: 30px;
    margin:1em 10%
}
.right>div:first-child{
    margin:1em 20%
}
.uklad::-webkit-scrollbar{width: initial}
.header,.footer{
    position: absolute;
    width: 100%;
    line-height: 30px;
    background-color:#e57373;
    text-align: center;
}
.header,.footer{
    white-space: pre;
}
.uklad{
    color: rgba(0,0,0,.5);
    font-weight:bold;
}
.footer{
    bottom: 0;
}