body {
    margin: 0;
    background-color: #000;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
}

#game {
    position: fixed;
    display: block;
    height: 90%;
    background-color: #1f1f1f;
    width: 80%;
    min-width: 600px;
    min-height: 400px;
    top: 5%;
    left: 10%;
    border: solid 15px #fff;
    border-left: 0;
    border-right: 0;
    box-sizing: border-box;
    overflow: hidden;
    transition-duration: 1s
}

#select {
    text-align: center;
    font-size: 2.5em;
    line-height: 100px;
    background-color: rgba(0,0,0,.9);
    position: absolute;
    width: 100%;
    top: Calc(50% - 50px);
    animation: select 1s infinite;
    transition-duration: 1s;
    z-index: 2000
}
@keyframes select{
    50%{
        font-size: 2.2em;
        -webkit-filter: grayscale(55%);
        filter: grayscale(55%);
    }
}
#player1,#player2 {
    position: absolute;
    width: 15px;
    height: 60px;
    background-color: #fff;
}
#player1{
    left: 10px
}
#player2{
    right: 10px
}
#ball {
    width: 15px;
    height: 15px;
    background-color: #fff;
    position: absolute;
    left: Calc(50% - 7.5px);
    top: Calc(50% - 7.5px);
}
.play #select{
    transform: translateY(100%);
    opacity: 0
}
#separator {
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    border-left: dashed 10px #fff;
    left: Calc(50% - 5px)
}

#scoreBoard {
    width: 150px;
    height: 75px;
    color: #fff;
    font-size: 2em;
    position: absolute;
    left: Calc(50% - 75px);
    top: -100%;
    transition-duration: 1s
}

#leftScore,#rightScore {
    line-height: 75px;
    position: absolute;
}

#leftScore {
    left: -10px
}

#rightScore {
    right: -10px
}

.play #scoreBoard{
    top: 0
}
#game.play{
    transition-duration: 1s;
    border-left: 0 solid #fff;
    border-right: 0 solid #fff;
}
#select a{
    cursor: pointer
}
#help {
    background-color:red;
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    transform: translateY(100%);
    transition-duration: 1s
}

#help a{
    position: absolute;
    display: block;
    right: 20px;
    top: -50px;
    background-color: inherit;
    padding: 20px;
    cursor: default;
}
#help:hover{
    transform: translateY(0);
}

#help p {
    line-height: 1.5em
}
