body {
    margin: 0;
}

td{
    display: inline-block;
    height: 220px;
    width: 20px;
    background-color: red;
    border-radius: 20px;
    position: relative;
    padding: 0
}

tr{
    position: absolute;
    width: Calc(100% + 1000px);
    transform: translateY(-60%);
}
table {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
}
.bot{
    transform: translateY(10%);
}
#sel {
    position: fixed;
    width: 350px;
    height: 300px;
    left: Calc(50% - 175px);
    top: Calc(50% - 150px);
    background-color: #1f1f1f;
    border-radius: 20px;
    text-align: center;
    display: none
}
